
main{
    background-color: #120038;
    /*background-image: url('../backgrounds/estrellas.png');*/
    min-height: 100vh;
}

.menunav{
    background-color: black ;
    border-bottom: 2px solid #FF0DDC;
}

.publicacion, .usuario {
    background-color: black;
    border: 2px solid #FF0DDC;
}

.bordeizq{
    border-top: 2px solid ;
    border-left: 2px solid ;
    border-color: #FF0DDC;
    border-top-left-radius: 10px;

}

.bordearrib{
    border-top: 2px solid ;
    border-color: #FF0DDC;

}

.bordeder{
    border-top: 2px solid ;
    border-right: 2px solid ;
    border-color: #FF0DDC;
    border-top-right-radius: 10px;
}

.nuevo-Comment{
    background-color: black;
    color: white;
}

.compatibilidad{
    background: linear-gradient(to bottom, #B197FC, #544DDA);
}

.noSub{
    text-decoration: none; 
    color: #FF0DDC !important;
}

.noSub2{
    text-decoration: none; 

}
.subtext{
    color: #cecece !important;
}

.emergente{
    background-color: #C400A8;
    color: white !important;
}

.cartaOpcion{
    min-height: 80vh;
    
    
}

.pos{
    color: #09ff00 !important;
}


.neg{
    color: #ff9090 !important;
}



.fondoPregunta{
    background: linear-gradient(to bottom, #da05c8, #87549b);
    min-height: 100vh;
}

.amor{
    background: linear-gradient(to bottom, #be1f03, #da05c8);
    min-height: 100vh;
}

.dinero{
    background: linear-gradient(to bottom, #e9bd5e, #8f6e3c);
    min-height: 100vh;
}

.salud{
    background: linear-gradient(to bottom, #61eb54, #4a7e6d);
    min-height: 100vh;
}

.barraAmor{
    background: linear-gradient(to right, #ffb1f9, #e837ff);
}

.barraAmistad{
    background: linear-gradient(to right, #40ffbf, #059b61);
}

.color-boton,.color-boton2{
    background-color: #FFAFF4 !important;
    color:#b40c9b !important;
    transition: background-color 0.5s ease;
}

.fondoCarta1, .fondoCarta2, .fondoCarta3 {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-position: center;
    transition: background 0.5s ease-in-out;

}

.fondoCarta1{
    background-image: url('../cartas/t-0-loco.jpg');
}

.fondoCarta2{
    background-image: url('../cartas/3-espadas.jpg');
}

.fondoCarta3{
    background-image: url('../cartas/9-oros.jpg');
}

/* Fondo degradado al pasar el ratón */
.fondoCarta1:hover {
    background: linear-gradient(to bottom, rgb(252, 248, 248), rgba(241, 54, 217, 0.116)), url('../cartas/t-0-loco.jpg');
}
.fondoCarta2:hover{
    background: linear-gradient(to bottom, rgb(252, 248, 248), rgba(241, 54, 217, 0.116)), url('../cartas/3-espadas.jpg');
}
.fondoCarta3:hover{
    background: linear-gradient(to bottom, rgb(252, 248, 248), rgba(241, 54, 217, 0.116)), url('../cartas/9-oros.jpg');
}

.cuerpoTarjeta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.fondoCarta1:hover .card-body,.fondoCarta2:hover .card-body,.fondoCarta3:hover .card-body {
    opacity: 1;
}


.color-boton:hover, .btnActivado{
    background-color: #FF0DDC !important;
    color: white !important;;
}

.color-boton2:hover{
    background-color: #760dff !important;
    color: white !important;;
}

p,h1,.tit{
    color:#FFFFFF !important;
}

.textoCarta{
    color: black !important;
}

.bg-tarot{
    background-image: url('../backgrounds/fondo_cartas.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-horoscopo{
    background-image: url('../backgrounds/fondo_horoscopo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.Aries {
    background: linear-gradient(to bottom,#bb2c2e, #F56420);
}
.Tauro {
    background: linear-gradient(to bottom,#F56420, #F49618);
}
.Géminis {
    background: linear-gradient(to bottom,#F49618, #89c529);
}
.Cáncer {
    background: linear-gradient(to bottom,#89c529, #249544);
}
.Leo {
    background: linear-gradient(to bottom,#249544, #147957);
}
.Virgo {
    background: linear-gradient(to bottom,#147957, #009FB8);
}
.Libra {
    background: linear-gradient(to bottom,#009FB8, #0375BE);
}
.Escorpio {
    background: linear-gradient(to bottom,#0375BE, #005CB0);
}
.Sagitario {
    background: linear-gradient(to bottom,#005CB0, #3850A7);
}
.Capricornio {
    background: linear-gradient(to bottom,#3850A7, #88338E);
}
.Acuario {
    background: linear-gradient(to bottom,#88338E, #771B82);
}
.Piscis {
    background: linear-gradient(to bottom,#771B82, #bb2c2e);
}
